/********** ELEMENTS (COMPONENT-LIKE) **********/

/***** ACTIVE PROJECT (DISPLAY VIEWPORT DIMS) *****/

#viewportdata {
	z-index: 10;
	position: fixed;
	top: var(--spc);/* 1rem */
	left: var(--spc);
	max-width: fit-content;
	white-space: nowrap;
	font-size: var(--spc);
	line-height: 1;
	text-align: center;
	color: WHITE;
	background-color: BLACK;
}
#dims {/* inherits color and bgcolor from parent */
	clear: both;
	padding: var(--spc-sm);/* .5rem */
}
#target {
	padding: var(--spc-sm);/* .5rem */
	color: BLACK;/* BLACK */
	background-color: WHITE;/* WHITE */
	font-weight: bold;
}
#dims:visited {color: WHITE;}
#target:visited {color: BLACK;}
#dims:hover, #target:hover {color: LIME;}
#dims:active {color: YELLOW;}
#target:active {color: ORANGE;}

/***** COMPONENTS *****/

/* general html lists responsive behaviors */
.stack { /* flex container */
	margin: 0 auto;
	list-style: none;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.stack  {flex: 1;}/* flex items */
.stack a {
	display: block;
	white-space: nowrap;
	overflow: hidden;
}

#nav a {
	padding: var(--spc-sm);
	border-bottom: 1px solid var(--nav-a-act-bg);
}
@media (min-width: 992px) {/* desktop */
	#nav {
		flex-direction: row;
		justify-content: space-around;
	}
	#nav li {
		display: inline;
		min-width: calc(var(--min-w) / 6);
	}
}

#meta {
	position: absolute;
	top: var(--spc-sm);
	right: var(--spc-sm);
	max-width: fit-content;
}
#meta ul {
	flex-direction: row;
}

#social {
	margin: 0 auto;
	max-width: fit-content;
}
#social ul {
	flex-direction: row;
}

#logo {/* position center using margin and text-align */
	left: 0;
	width: fit-content;
	margin: var(--logo-font) auto;
	font-size: calc(var(--logo-font) * 1);
	font-weight: 100;
	letter-spacing: calc(var(--logo-font) * .375);
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
#name {
	margin: 0;
	font-size: inherit;
	letter-spacing: inherit;
}
#dot {/* mid-dot */
	top: calc(var(--logo-font) * .125);
	font-size: inherit;
	font-weight: 900;
}
#byline {
	display: block;
	margin: 0;
	font-size: 50%;
	font-weight: 100;
	letter-spacing: calc(var(--logo-font) * .125);
	line-height: 2;
	font-style: italic;
	color: var(--con-color);
}
@media (min-width: 480px) {
	#logo {
		font-size: calc(var(--logo-font) * 1.5);
	}
}
@media (min-width: 640px) {
	#logo {
		font-size: calc(var(--logo-font) * 2);
	}
}
@media (min-width: 768px) {/* desktop */
	#logo {
		margin: var(--logo-font) 0 var(--logo-font) var(--logo-font);
		font-size: calc(var(--logo-font) * 2);
	}
}
@media (min-width: 992px) {/* desktop */
	#logo{
		font-size: calc(var(--logo-font) * 3);
	}
}

/* all elevator properties here */
.elevator {
	z-index: 10;
    position: fixed;
	right: var(--spc);
	font-size: var(--spc);
}
.top {top: var(--spc-xl);}
.bot {bottom: var(--spc);}
.elevator a, .elevator a:visited {
	display: block;
	padding: var(--spc-sm);
	width: fit-content;
	color:  var(--bod-color);
    background: var(--bod-bgcolor);
	border: var(--border);
	opacity: .1;
}
.elevator a:hover, .elevator a:active {opacity: 1;}

#copyright {
	display: block;
	margin-top: var(--spc-xl);
	margin-bottom: var(--spc-sm);
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}