/********** MASTER **********/

/***** EXTERNAL RESOURCES *****/

/* needs Autoprefixer */
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css");
@import url('https://fonts.googleapis.com/css?family=Sans+Pro|Open+Sans|Muli');

/***** INTERNAL RESOURCES *****/

@import "layout.css"; /* main structures */
@import "elements.css"; /* component-like */
@import "state.css"; /* interface events */
@import "theme.css"; /* static colors and borders */

/***** GLOBALS *****/

:root {
    /* ELEMENTS (SPACE AND FLOW) */
    --spc: 1rem;/* standard space (base font) */
    --spc-xs: calc(var(--spc) * 0.25);/* minimal usage */
    --spc-sm: calc(var(--spc) * 0.50);/* minimal usage */
    --spc-md: calc(var(--spc) * 1.50);/* medium used all around */
    --spc-lg: calc(var(--spc) * 2);/* ul margins/paddings & misc */
	--spc-xl: calc(var(--spc) * 4);/* structural containers */
    --spc-all: var(--spc-xl) var(--spc-lg);/* all around */
    /* LAYOUT BREAKPOINTS AND SCALING */
	--min-w-mop: 375px;/* mob port (for scaling down) */
	--min-w-mol: 480px;/* mob land (starting point) */
	--min-w-tab: 768px;/* bootstrap 4 md */
	--min-w-dsk: 992px;/* bootstrap 4 lg */
	--min-w: 100%;/* structural containers */
	--max-wb: 50%;/* psuedo-columns wrap breakpoint */
	--min-h: 100vh;/* target all devices */
	/* STATE */
	--a-hov: LIME;
	--a-act: ORANGE;
	--a-vis: YELLOW;
	--a-alt: DODGERBLUE;
	--nav-a-hov-bg: #222;
	--nav-a-act-bg: #444;
	/* ANIMATION */
	--ani-slo-io: all 1s ease-in-out 0s; 
	--ani-nor-io: all .5s ease-in-out 0s; 
	--ani-fst-io: all .25s ease-in-out .25s; 
	/* THEMEING (all colors map here) */
    /* color pairs */
    --bod-color: WHITE;/* body */
    --bod-bgcolor: BLACK;
    --con-color: #666;/* contrast (header/footer) */
    --con-bgcolor: #234;/* a darker slate gray */
    --acc-color: var(--con-color);/* accent (main) */
    --acc-bgcolor: #555;/* a darker gray */
    /* single colors */
    --alt-col: #234;/* alternative (header/footer) */
    --fea-col: #456;/* feature */
    --trm-col: @@@;/* trimming */
    --sho-col: @@@;/* showcase */
    --hig-col: @@@;/* highlight */
    --spe-col: @@@;/* special */
	 /* miscellaneous theme elements */
    --border: 1px solid var(--bod-color);
	--family: 'Sans Pro', 'Open Sans', Verdana, sans-serif;
    --base: 62.5%;/* standard browser size is 16px, best practices use 62.5% for 10px font */
	--logo-font: calc(var(--spc) * 2);/* h1 and h2 elements inside #logo */
}
*, *:before, *:after {/* resets to gain surgical control */
    position: relative;
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-decoration: none;
}



